@font-face {
    font-family: MontserratSubrayada;
    src: url(../../assets/fonts/MontserratSubrayada-Bold.ttf);
}
@font-face {
    font-family: ShadowsIntoLight;
    src: url(../../assets/fonts/ShadowsIntoLight-Regular.ttf);
}