// Colors
$clr1: rgb(216, 198, 198);
$clr2: rgb(1, 1, 184);
$clr3: rgb(192, 172, 189);
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;